name: build-and-lint

# on which branch you want to set
on:
  PUSH: 
    branches : [main]
  pull_request:
    branches : [main]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
      
      - name: Install Backend Dependencies
        working-directory: todo_backend
        run: npm ci

      - name: Lint Backend
        working-directory: todo_backend
        run: npm run lint -- --max-warnings=0

      - name: Install Frontend Dependencies
        working-directory: todo_frontend
        run: npm ci
      
      - name: Lint Frontend
        working-directory: todo_frontend
        run: npm run lint -- --max-warnings=0

      - name: Build Backend Image
        run: docker build -t backend ./todo_backend
      
      - name: Build Frontend Image
        run: docker build -t frontend ./todo_frontend


